
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc kamp tablo örneği - kategori</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ıd</th>
        <th>adı</th>
        <th>açıklama</th>
        <th>durum</th>
        <th>güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>eğitim</td>
        <td>açıklama yaptık</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>açıklama yapıldı</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>kitap</td>
        <td>acıklama yapıldı</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>sinema</td>
        <td>acıklama bekleniyor</td>
        <td>true</td>
        <td><button class="btn btn-success">güncelle</button></td>
    </tr>
</table>
<button class="btn btn-info">yeni kategori</button>
<button class="btn btn-danger">kategori listesi</button>
<button class="btn btn-warning">kategori açıklamaları</button>